.DS_Store

viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/build/
viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/.gradle/
viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/bin/
viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/.DS_Store
viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/.classpath
viikko1/tehtavat14-16/RiippuvuuksienInjektointi1/.project

viikko1/tehtavat14-16/NhlStatistics1/build/
viikko1/tehtavat14-16/NhlStatistics1/.gradle/
viikko1/tehtavat14-16/NhlStatistics1/bin/
viikko1/tehtavat14-16/NhlStatistics1/.DS_Store
viikko1/tehtavat14-16/NhlStatistics1/.classpath
viikko1/tehtavat14-16/NhlStatistics1/.project